h1 {
	color: red;
}
body {
	background: purple;
	text-align: center;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
ul {
	display: inline-block;
	text-align: left;
}
a {
	color: #FF0000;
}